<div class="container-fullscreen">
  <div class="container3">
    <% @participations.sort_by{|participation| participation.id}.each do |participation| %>
      <div class="card-product">
        <%= cl_image_tag participation.event.photo, height: 300, width: 400, crop: :fill %>
        <div class="card-info">
          <div class="card-product-infos">
            <h2><%= participation.event.name %></h2>
            <h3><%= participation.wanted_status %></h3>
          </div>
          <div class="card-product-infos">
            <%= link_to "Voir", event_participation_path(participation.event, participation.id), class: "btn2 btn-info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
