<div class="container-fullscreen">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <h3>Pour quelle mission ?</h3>
          <%= simple_form_for [@event, @participation] do |f| %>
          <%= f.input :wanted_status, collection: ["Entrée" , "Entretien", "Prospectus", "Driver"] %>
          <%= f.button :submit, new_event_participation_path, value: "Candidate"  %>
          <% end %>
      </div>
    </div>
  </div>
</div>


