<div class="container-fullscreen">
  <div class="container12">
    <h1>Merci pour votre attention</h1>
    <h2>c'était cool</h2>
    <iframe src="https://giphy.com/embed/l0MYt5jPR6QX5pnqM" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/party-the-office-hard-l0MYt5jPR6QX5pnqM"></a></p>
    <iframe src="https://giphy.com/embed/1rf4V8kgTLvva" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/will-smith-alfonso-ribeiro-carlton-banks-1rf4V8kgTLvva"></a></p>
  </div>
</div>
