<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
  <div class="card-product-infos">
    <h2> </h2>
    <p>Event in <strong><= #{@event.localisation} %> </strong></p>
    <button type="button" class="btn btn-dark">Candidate</button>
  </div>
</div>
