<div class="container-fullscreen">
  <div class="container1">
    <% @events.each do |event| %>
    <div class="card-product">
      <img src="https://static.mmzstatic.com/wp-content/uploads/2015/01/benevole-festival-musique-temoignage.jpg">
      <div class="card-product-infos">
        <h2><%= event.name %> </h2>
        <p>Event in <strong><%= event.localisation %></strong> only.</p>
          <%= link_to "Plus d'infos", event_path(event), class: "btn btn-info" %>
      </div>
      </div>
    <% end %>
</div>
</div>
