<div class="container-fullscreen">
  <% @events.each do |event| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h2><%= event.name %> </h2>
      <p>Event in <strong><%= event.localisation %></strong> only.</p>
        <%= link_to "Candidate", class: "btn btn-dark" %>
    </div>
    <% end %>
  </div>
</div>
