<h1>Documents#index</h1>
<div class="container-fullscreen">
  <div class="container">
    <h1 class="artist-text-center">Documents</h1>
    <div class="col-lg-12 cards">
    <% @documents.each do |document| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-text"> <%= document.name %></h2>
          <p class="card-text"> <%= document.url %></p>
          <p class="card-text"> <%= cl_image_tag document.photo, height: 300, width: 400, crop: :fill %></p>

        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
