.benevole {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("https://pbs.twimg.com/media/DlOvWjRUwAA3LoG.jpg");
    height: 80vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

.benevole h2 {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 300;
    margin: 0 0 20px 0;
    position: relative;
    z-index: 6;
    color: white;
}


.benevole h1 {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 46px;
    font-weight: 600;
    margin: 0 0 20px 0;
    position: relative;
    z-index: 6;
    color: white;
}
