.btn {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
    color: #c6ba95;
    border: 1px solid #c6ba95;
    transition: 200ms;
    background: transparent;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.btn1 {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
    color: #c6ba95;
    border: 1px solid #c6ba95;
    transition: 200ms;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.btn3 {
  background-color: green;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 50px;
  color: white;
  border: 1px solid #c6ba95;
  transition: 200ms;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

.btn4 {
  background-color: red;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 50px;
  color: white;
  border: 1px solid #c6ba95;
  transition: 200ms;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}
