.card-product {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
}

.card-product img {
  height: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 30px;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  font-weight: bold;
  margin-bottom: 2px;
}

.card-product .card-product-infos {
  padding: 20px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.card-product-infos h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1px;
}

.card-product-infos h4 {
  color: black;
  font-size: 20px;
  line-height: 1.4;
  text-decoration: black;
  margin-bottom: 2px;
}

