.home .container1 {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}


.home h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


.home h1 {
    margin-bottom: 15px;
    font-size: 60px;
    font-weight: 600;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.home {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("http://www.lesardentes.be/festival/sites/default/files/styles/4col/public/banner.jpg?itok=BcjMcevt");
    height: 90vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 150px 0;

}

.benevole {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("https://www.vrtxmag.com/site/assets/files/48948/01_travisscott_01.jpg");
    height: 80vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
}

.container-fullscreen {
  min-height: calc(100vh - 210px);
}
