.container4 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30%;
  margin-left: 30%;
}

.container4 .information {
  font-weight: bold;
}

.container4 .information-title {
  font-size: 12px;
  margin-bottom: 1px;
}
